<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>Akronym | Desarrollo de Software</title>
		<!-- Fonts -->
		<link
			href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap"
			rel="stylesheet"
		/>
		
		<!-- Scripts -->
		<!-- jQuery -->
		<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

		<!-- Magic Mouse -->
		<script type="text/javascript" src="https://res.cloudinary.com/veseylab/raw/upload/v1684982764/magicmouse-2.0.0.cdn.min.js"></script>

		<!-- Swiper CSS -->
		<!-- <link rel="stylesheet" href="https://unpkg.com/swiper@10/swiper-bundle.min.css" /> -->
		
		<!-- Swiper JS -->
		<!-- <script src="https://unpkg.com/swiper@10/swiper-bundle.min.js"></script> -->
		
		<!-- Global -->
		<script src="/src/scripts/global.js"></script>
	</head>
	<body id="body" class="bg-black">
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
