<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>Akronym | Desarrollo de Software</title>
		<!-- Fonts -->
		<link
			href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap"
			rel="stylesheet"
		/>
		
		<!-- Scripts -->
		<!-- jQuery -->
		<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

		<!-- Magic Mouse -->
		<script type="text/javascript" src="https://res.cloudinary.com/veseylab/raw/upload/v1684982764/magicmouse-2.0.0.cdn.min.js"></script>

		<!-- Swiper CSS Bundle -->
		<!-- @ts-ignore -->
		<link rel="stylesheet" href="/swiper/swiper-bundle.min.css" is:inline />

		<!-- Tu CSS global -->
		<link rel="stylesheet" href="/src/styles/global.css" />

		<!-- Swiper JS Bundle -->
		<!-- @ts-ignore -->
		<script src="/swiper/swiper-bundle.min.js" is:inline></script>
		
		<!-- Tu script global, con defer -->
		<script src="/src/scripts/global.js" defer></script>
		
		<!-- Debug script to check Swiper loading -->
		<script>
			window.addEventListener('load', function() {
				console.log('=== SWIPER DEBUG ===');
				// @ts-ignore
				console.log('Swiper available:', typeof Swiper !== 'undefined');
				// @ts-ignore
				console.log('Swiper version:', typeof Swiper !== 'undefined' ? Swiper.version : 'N/A');
				// @ts-ignore
				console.log('Swiper modules:', typeof Swiper !== 'undefined' ? Object.keys(Swiper) : 'N/A');
				console.log('Main swiper element:', document.querySelector('.swiper-main'));
				console.log('Aliados swiper element:', document.querySelector('.swiper-aliados'));
				console.log('===================');
			});
		</script>
	</head>
	<body id="body" class="bg-black">
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
