<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		
		<!-- Favicon -->
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<link rel="shortcut icon" href="/favicon.png" />
		<link rel="apple-touch-icon" href="/favicon.png" />
		
		<meta name="generator" content={Astro.generator} />
		<title>Akronym | Desarrollo de Software</title>
		
		<!-- SEO -->
		<meta name="description" content="Akronym - Tecnología que transforma. Desarrollamos software innovador desde Costa Rica para el mundo. Transformamos ideas en soluciones digitales que impulsan tu negocio." />
		<meta name="keywords" content="desarrollo software, tecnología, Costa Rica, transformación digital, desarrollo web, aplicaciones, innovación" />
		<meta name="author" content="Akronym" />
		
		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://akronym.cr/" />
		<meta property="og:title" content="Akronym | Tecnología que transforma" />
		<meta property="og:description" content="Desarrollamos software innovador desde Costa Rica para el mundo. Transformamos ideas en soluciones digitales que impulsan tu negocio." />
		<meta property="og:image" content="https://akronym.cr/favicon.png" />
		<meta property="og:site_name" content="Akronym" />
		<meta property="og:locale" content="es_ES" />
		
		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content="https://akronym.cr/" />
		<meta property="twitter:title" content="Akronym | Tecnología que transforma" />
		<meta property="twitter:description" content="Desarrollamos software innovador desde Costa Rica para el mundo. Transformamos ideas en soluciones digitales que impulsan tu negocio." />
		<meta property="twitter:image" content="https://akronym.cr/favicon.png" />
		
		<!-- WhatsApp -->
		<meta property="og:image:width" content="1200" />
		<meta property="og:image:height" content="630" />
		<meta property="og:image:type" content="image/png" />
		<!-- Fonts -->
		<link
			href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap"
			rel="stylesheet"
		/>
		
		<!-- Scripts -->
		<!-- jQuery -->
		<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

		<!-- Magic Mouse -->
		<script type="text/javascript" src="https://res.cloudinary.com/veseylab/raw/upload/v1684982764/magicmouse-2.0.0.cdn.min.js"></script>

		<!-- Swiper CSS Bundle -->
		<!-- @ts-ignore -->
		<link rel="stylesheet" href="/swiper/swiper-bundle.min.css" is:inline />

		<!-- Swiper JS Bundle -->
		<!-- @ts-ignore -->
		<script src="/swiper/swiper-bundle.min.js" is:inline></script>
		
		<!-- Tu script global, con defer -->
		<script src="/global.js" defer></script>
	</head>
	<body id="body" class="bg-black">
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
